.button {
    padding: 10px;
    border: none;
    width: 100%;
    background-color: #f1f1f1;
    cursor: pointer;
}

.input {
    padding: 10px;
    width: 100%;
    font-size: 16px;
}

.textarea {
    padding: 5px;
    font-size: 16px;
    font-family: 'Roboto';
}

.textarea:focus {
    outline: none;
}

.input:focus { outline: none }
