/* fonts */
@font-face {
  font-family: 'default';
  src: url('./FS-Albert-Pro.otf');
}

@font-face {
  font-family: 'light';
  src: url('./FS-Albert Pro-Light.otf');
}

/* reset */
html,
body {
  font-family: 'default';
  -webkit-font-smoothing: antialiased;
}

::backdrop {
  background-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type='search'] {
  -webkit-appearance: none;
  outline: none;
  background-color: #fff;
}

/* tailwind styles */
@tailwind base;
@tailwind utilities;
@tailwind components;
@tailwind variants;

/* datepicker */
.react-datepicker-wrapper {
  display: block;
  width: 100%;
}

/* display pdf material page on center */
.pdf-page .react-pdf__Page__svg {
  display: block;
  margin: 0 auto;
}

p {
  margin-bottom: 1rem;
}

.ReactCollapse--collapse {
  transition: 0.3s ease-in-out;
}

.gradient_p {
  background: radial-gradient(
    circle,
    rgb(245, 130, 109),
    rgb(243, 121, 105),
    rgb(235, 104, 95),
    rgb(228, 87, 87),
    rgb(223, 80, 80)
  );
}

.gradient_i {
  /* background: rgb(3, 84, 139); */
  /* background: radial-gradient(
    circle,
    rgb(4, 117, 185),
    rgb(4, 110, 180),
    rgb(4, 104, 170),
    rgb(3, 87, 160),
    rgb(3, 84, 150)
  ); */

  background: radial-gradient(
    circle,
    rgb(4, 117, 185),
    rgb(4, 110, 180),
    rgb(2 95 156),
    rgb(3 69 127),
    rgb(0, 55, 98)
  );
}

.arrowed-title:hover .arrow-left::before,
.arrowed-title:hover .arrow-left::after {
  background: #ff6041;
}

.arrowed-title:hover .arrow-left-i::before,
.arrowed-title:hover .arrow-left-i::after {
  background: #035096;
}

/* table */

@media screen and (max-width: 991px) {
  table:not(.DateRangePicker__MonthDates) {
    border: 0;
  }
  table:not(.DateRangePicker__MonthDates) thead {
    display: none;
  }
  table:not(.DateRangePicker__MonthDates) tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }
  table:not(.DateRangePicker__MonthDates) td {
    display: block;
    text-align: right;
    font-size: 13px;
    max-width: 100% !important;
    min-height: 40px;
  }
  table:not(.DateRangePicker__MonthDates) td:first-child,
  th:first-child {
    text-align: right !important;
  }
  table:not(.DateRangePicker__MonthDates) td:last-child {
    border-bottom: 0;
  }
  table:not(.DateRangePicker__MonthDates) td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    margin-right: 10px;
  }
}

.bookmark-icons {
  @apply w-[27px] h-[32px] border border-[#cfcfcf] cursor-pointer hover:fill-active_p hover:border-active_light_p transition-all duration-300;
}

.bookmark-icons-i {
  @apply w-[27px] h-[32px] border border-[#cfcfcf] cursor-pointer hover:fill-active_i hover:border-active_light_i transition-all duration-300;
}

.hover {
  @apply cursor-pointer transition-all duration-300;
}

.input {
  @apply focus:outline-0 focus:border-active_p focus:shadow-input_p py-[.375rem] px-[.75rem] border border-[#ced4da] rounded-[4px];
}

.input-i {
  @apply focus:outline-0 focus:border-active_i focus:shadow-input_i py-[.375rem] px-[.75rem] border border-[#ced4da] rounded-[4px];
}

.primary-btn {
  @apply bg-active_p text-white px-3 py-[5px] rounded border-2 border-active_p hover:bg-active_p_hover transition-all duration-300 disabled:bg-red-300;
}

.secondary-btn {
  @apply bg-white text-active_p px-3 py-[5px] rounded border-2 border-active_p hover:bg-active_p_hover hover:text-white transition-all duration-300;
}

.primary-btn-i {
  @apply bg-active_i text-white px-3 py-[5px] rounded border-2 border-active_i hover:bg-active_i_hover transition-all duration-300 disabled:bg-blue-300;
}

.secondary-btn-i {
  @apply bg-white text-active_i px-3 py-[5px] rounded border-2 border-active_i hover:bg-active_i_hover hover:text-white transition-all duration-300;
}

.svg-media-icon {
  @apply opacity-70 hover:opacity-100 transition-all cursor-pointer;
}

.progress-block {
  @apply h-full w-1 min-w-[4px] z-20;
}

.progress-section {
  @apply before:block before:absolute before:left-1 before:-top-0 before:bg-[#fff] before:w-[calc(100%-4px)] before:h-1 after:content-[''] after:block after:absolute after:left-1 after:top-[9px] after:bg-[#fff] after:w-[calc(100%-4px)] after:h-1;
}

.material-video-wrapper {
  @apply flex items-center bg-[#545454] max-h-[100vh] h-[100vh] justify-center;
}

.add-file-icon {
  @apply cursor-pointer block bg-white w-5 h-5 rounded-full relative border border-gray-dark before:content-[''] before:absolute before:left-[50%] before:top-[50%] before:translate-x-[-50%] before:translate-y-[-50%] before:bg-gray-dark before:w-[2px] before:h-[10px] after:content-[''] after:absolute after:left-[50%] after:top-[50%] after:translate-x-[-50%] after:translate-y-[-50%] after:bg-gray-dark after:w-[10px] after:h-[2px];
}

.auth-input {
  @apply transition-all duration-300 block w-full outline-none border border-gray-line rounded h-[50px] my-[16px] py-[.375rem] px-[.75rem] hover:border-yellow-border focus:border-yellow-border;
}

.input-icon {
  @apply absolute right-3 w-5 top-4 bg-white filter-none focus:bg-white;
}

.badge {
  @apply leading-[1.4] flex flex-col py-[1px] px-[5px] rounded text-white text-center;
}

.title-sort {
  @apply cursor-pointer opacity-100 hover:opacity-60;
}

.download-link:hover .download-tooltip {
  display: block;
}

.download-tooltip {
  display: none;
}

.users-online {
  position: relative;
  display: inline;
  color: #000;
  padding-right: 15px;
  z-index: 9;
  font-size: 11px;
  margin-left: 4px;
  z-index: 1;
}

.users-online tspan {
  font-size: 11px;
}

.users-online .recharts-cartesian-axis-ticks {
  margin-top: 10px;
}

.users-online .recharts-responsive-container {
  margin-left: -34px;
  margin-top: 0;
}

.button-split .MuiButton-containedPrimary {
  border-color: #f64d2b !important;
  background-color: #ff6041 !important;
}

.button-split-i .MuiButton-containedPrimary {
  border-color: rgb(0, 48, 80) !important;
  background-color: rgb(3, 84, 139) !important;
}

.button-split-i .MuiButton-containedPrimary.Mui-disabled,
.button-split .MuiButton-containedPrimary.Mui-disabled {
  color: #fff !important;
  opacity: 0.7;
}

.notification {
  @apply fixed top-0 md:top-8 left-0 right-0 m-auto w-full max-w-md;
}

.row-preloader {
  @apply h-12 bg-gray-table_odd rounded w-full mb-1 animate-pulse border-b-4 border-white;
}

.collapse-hidden .rst__collapseButton,
.collapse-hidden .rst__expandButton {
  display: none;
}

.tooltip-summary {
  @apply text-sm text-center max-w-[180px];
}

#noscript {
  text-align: center;
  display: block;
  margin: 20px 0;
  font-size: 18px;
  color: gray;
}

.g-recaptcha {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}
