@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-regular-webfont.woff'),
        url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body,
html {
    height: 100%;
    background-color: #000;
}
html,
body,
div,
table,
img,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
input,
textarea,
dl,
dt,
dd,
ul,
li,
blockquote,
q,
svg,
td {
    margin: 0;
    padding: 0;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
time {
    display: block;
    padding: 0;
    margin: 0;
}
sup {
    vertical-align: baseline;
    position: relative;
    top: -6px;
    font-size: 0.5em;
}
body,
input,
select,
button {
    font: 13px/1.308em Roboto, sans-serif;
    color: #4d4d4d;
}
textarea {
    overflow: auto;
    font: 12px/2em Roboto, sans-serif;
    color: #73521e;
}
textarea.autosize {
    overflow: hidden;
}
textarea.fixsize {
    overflow: hidden;
}
textarea,
input {
    border-radius: 0;
    outline: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
table {
    border-collapse: collapse;
}
td {
    border: none;
}
img {
    border: none;
}
button {
    cursor: pointer;
    outline: none;
}

/* remove buttons */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number']::-o-inner-spin-button,
input[type='number']::-o-outer-spin-button {
    -o-appearance: none;
    margin: 0;
}

/* clearfix */
.clear {
    clear: both;
    display: block;
    padding: 0;
    margin: 0;
    font: 0/0 a;
    height: 0;
}
.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
}
.clearfix::after {
    clear: both;
}

/* /clearfix */

/* content styles */
a {
    color: #3668b2;
    outline: none;
}
a:hover {
    color: #4c94ff;
    text-decoration: none;
}

p {
    margin: 0 0 10px;
}

/* ----------------------------------------------------- */

/* z-index */
.panel {
    z-index: 10;
}
.panel.panel-space {
    z-index: 30;
}
.overlay {
    z-index: 40;
}
.popup-form {
    z-index: 50;
}

/* z-index */

.wrapper {
    max-height: 1536px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

body {
    position: relative;
}
html,
body,
.wrapper {
    min-height: 640px;
    min-width: 980px;
}

/* error page */
.error-page {
    width: 2048px;
    height: 1536px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -768px 0 0 -1024px;
    text-transform: uppercase;
}
.error-page-content {
    padding: 954px 700px 0;
    position: relative;
    font: 13px/1.25em Roboto, sans-serif;
    color: #000;
}
.error-page-content h1 {
    text-align: center;
    color: #f60;
    font: 35px/1em 'Roboto Slab', sans-serif;
    text-transform: uppercase;
    margin: 0 0 16px;
}
.error-btn {
    vertical-align: -21px;
    margin: 0 3px;
    width: 116px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    color: #fff436;
    font: 13px/54px Roboto, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    background: url(../images/404-btn.gif) no-repeat 0 0;
    display: inline-block;
}

.error-btn:hover {
    background-position: -116px 0;
    color: #fff436;
}
.error-page-l {
    width: 700px;
}
.error-page-r {
    float: right;
}

/* /error page */

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}
.hidden {
    display: none !important;
    visibility: hidden;
}

/* custom select */
.select {
    position: relative;
}
.select-default {
    position: relative;
    height: 100%;
    cursor: pointer;
}
.select-body {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 5;
    overflow: auto;
}
.select-content {
    overflow: hidden;
}
.select label {
    display: block;
    position: relative;
    cursor: pointer;
}
.select label input {
    position: absolute;
    left: -20000em;
}

.select-panel-user {
    height: 60px;
    width: 340px;
}

.select-panel-user .select-default::after {
    content: ' ';
    width: 28px;
    height: 23px;
    position: absolute;
    top: 20px;
    right: 15px;
    background: url(../images/panel-select-arrows.png) no-repeat 0 0;
}
.select-panel-user.opened .select-default::after {
    background-position: -29px 0;
}
.select-panel-user .select-default em {
    font: 20px/1em 'Roboto italic', sans-serif;
    color: #ffb38c;
    display: block;
    padding: 18px 19px 0;
}
.select-panel-user .select-default .select-user-name {
    font: 20px/1em 'Roboto Slab', sans-serif;
    display: block;
    margin: 0 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.select-panel-user .select-default label {
    font: 20px/1em 'Roboto Slab', sans-serif;
    display: block;
    margin: 0 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.select-panel-user .select-body {
    top: 100%;
    background-color: #ff5600;
    font: 15px/1.25em 'Roboto Slab', sans-serif;
}

.select-panel-user label {
    clear: both;
    padding: 3px 50px 1px 17px;
    min-height: 27px;
}
.select-panel-user label:first-child {
    padding-top: 20px;
}
.select-panel-user .jspScrollable label {
    margin-right: 8px;
}
.select-panel-user .select-user-name {
    display: block;
    color: #ffb38c;
}
.select-panel-user .select-user-status {
    font: 10px/1em Roboto, sans-serif;
    display: block;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.select-panel-user .select-digit {
    position: absolute;
    right: 15px;
    margin-top: -3px;
    background-color: #fff436;
    text-align: center;
    border-radius: 13px;
    color: #ff5600;
    font: 13px/27px 'Roboto Slab', sans-serif;
    min-width: 27px;
    height: 27px;
    white-space: nowrap;
}
.select-panel-user .online .select-user-name {
    color: #fff;
}
.select-panel-user .select-default .select-digit,
.select-panel-user .select-body .select-user-status {
    display: none;
}
.select-panel-user .select-body .select-user-name {
    word-wrap: break-word;
    white-space: normal;
}
.select-class {
    color: #000;
    font: 16px/1em Roboto, sans-serif;
    text-transform: uppercase;
    margin: 0 17px 7px;
    padding: 4px 0;
    position: relative;
}
.select-class:first-child {
    margin-top: 23px;
}
.select-class::before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #e34500;
}
.select-class span {
    background-color: #ff5600;
    padding: 0 7px 0 0;
    position: relative;
}

/* /custom select */

/* panel parent and teacher */
.panel {
    height: 60px;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    position: relative;
    left: 0;
}
.panel-bg {
    background-color: #ff5600;
    height: 60px;
}
.panel-content {
    overflow: visible !important;
}
.panel-content .jspContainer {
    overflow: visible;
}
.panel table {
    height: 60px;
    margin: 0 auto;
}
.panel td {
    vertical-align: top;
}
.panel td.spr div {
    width: 2px;
    height: 60px;
    box-shadow: -1px 0 #f70 inset, -2px 0 #ed4200 inset;
}

/* .panel-exit a{color: #fff436; font: 11px/1em Roboto, sans-serif; padding: 23px 4px 26px 35px; margin: 0 18px 0 14px; text-transform: uppercase; position: relative; float: left; cursor: pointer;}
.panel-exit figure {width: 32px; height: 30px; position: absolute; top: 14px; left: 0; background: url(../images/panel-exit.png) no-repeat 0 0;}
.panel-exit:hover figure {background-position: -32px 0;} */
.panel-exit a {
    color: #fff436;
    font: 11px/1em Roboto, sans-serif;
    padding: 23px 4px 26px 35px;
    margin: 0 18px 0 14px;
    text-transform: uppercase;
    position: relative;
    float: left;
    cursor: pointer;
    text-decoration: none;
}
.panel-exit figure {
    width: 32px;
    height: 30px;
    position: absolute;
    top: 14px;
    left: 0;
    background: url(../images/panel-exit.png) no-repeat 0 0;
}
.panel-exit:hover figure {
    background-position: -32px 0;
}
.panel-mail {
    width: 64px;
    height: 49px;
    float: left;
    margin: 5px 35px 0 17px;
    background: url(../images/panel-mail.png) no-repeat 0 0;
    cursor: pointer;
    position: relative;
}
.panel-mail:hover {
    background-position: -64px 0;
}
.panel-mail figure {
    width: 37px;
    height: 37px;
    background-color: #ff5600;
    color: #fffc00;
    font: 16px/37px Roboto, sans-serif;
    border-radius: 19px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -19px 0 0 -19px;
}
.panel-name {
    font: 20px/1em 'Roboto Slab', sans-serif;
    white-space: nowrap;
    margin: 11px 36px 4px;
}
.panel-status {
    font: 11px/1em Roboto, sans-serif;
    text-transform: uppercase;
    margin: 0 36px;
}
.panel-statistics {
    font: 15px/1.267em Roboto, sans-serif;
    padding: 10px 22px 0;
    white-space: nowrap;
}
.panel .panel-btns {
    padding: 0 21px;
    white-space: nowrap;
}
.panel-btn-circle {
    background: url(../images/btn-circle.png) no-repeat 0 0;
    width: 50px;
    height: 50px;
    margin: 5px 0 0;
    border: none;
    color: #fff;
    font: 15px/50px Roboto, sans-serif;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}
.panel-btn-circle.green {
    background-position: -51px 0;
}
.panel-btn-circle.blue {
    background-position: -102px 0;
}
.panel-btn-circle.purple {
    background-position: -153px 0;
}
.panel-btn-circle.lilac {
    background-position: -204px 0;
}
.panel-btn {
    box-shadow: 0 -1px 0 0 #8bbe00, 0 1px 0 0 #8bbe00, 0 2px 0 0 #8bbe00, 0 0 0 5px #fff,
        0 1px 0 5px #fff, 0 -1px 0 5px #8bbe00;
    background-color: #8bbe00;
    height: 35px;
    min-width: 67px;
    padding: 0 13px;
    margin: 11px 7px 0;
    border: none;
    border-radius: 47px;
    color: #fff;
    font: 11px/35px Roboto, sans-serif;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    text-transform: uppercase;
}
.panel-btn:hover {
    background: #8bbe00;
    background: -moz-linear-gradient(top, #8bbe00 0%, #ff5600 100%);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, #8bbe00),
        color-stop(100%, #ff5600)
    );
    background: -webkit-linear-gradient(top, #8bbe00 0%, #ff5600 100%);
    background: -o-linear-gradient(top, #8bbe00 0%, #ff5600 100%);
    background: -ms-linear-gradient(top, #8bbe00 0%, #ff5600 100%);
    background: linear-gradient(to bottom, #8bbe00 0%, #ff5600 100%);
}
.panel-btn-circle + .panel-btn {
    margin-left: 13px;
}

.btn {
    background-color: #fefce8;
    box-shadow: 0 -1px 0 0 #fffffc, 0 1px 0 0 #e8e3bd, 0 3px 0 0 #d4b979, 0 1px 0 5px #fff436,
        0 -1px 0 5px #d4b979;
    height: 35px;
    padding: 0 13px;
    margin: 0;
    border: none;
    border-radius: 47px;
    color: #73521e;
    font: 11px/35px Roboto, sans-serif;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    text-transform: uppercase;
}
.btn:hover {
    background: #ede9d6;
    background: -moz-linear-gradient(top, #ede9d6 0%, #fff 72%);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, #ede9d6),
        color-stop(72%, #fff)
    );
    background: -webkit-linear-gradient(top, #ede9d6 0%, #fff 72%);
    background: -o-linear-gradient(top, #ede9d6 0%, #fff 72%);
    background: -ms-linear-gradient(top, #ede9d6 0%, #fff 72%);
    background: linear-gradient(to bottom, #ede9d6 0%, #fff 72%);
}

.panel-petals {
    margin: 0 12px;
    white-space: nowrap;
    position: relative;
    height: 60px;
    min-width: 170px;
    text-align: right;
}
.panel-petal {
    margin: 4px 2px 0;
    width: 50px;
    height: 54px;
    display: inline-block;
    background: url(../images/panel-petal.png) no-repeat 0 0;
    vertical-align: top;
    cursor: pointer;
    position: relative;
}
.panel-petal-arrow {
    display: none;
    position: absolute;
    top: 100%;
    right: 8px;
    width: 43px;
    height: 27px;
    margin-top: -6px;
    background: url(../images/panel-petal-arrow.png) no-repeat 0 0;
    cursor: pointer;
}
.panel-petal ~ .panel-petal-arrow {
    display: block;
}
.panel-username {
    color: #ffb38c;
    font: 26px/1em 'Roboto Slab', sans-serif;
    white-space: nowrap;
    padding: 15px 11px 19px;
}
.panel-btn-place {
    margin: 0 10px;
}

/* /panel parent and teacher */

/* baron - custom textarea scroll */

/* CSS styles in this file are need for proper Baron work */
.text-scroll {
    overflow: hidden;
    position: relative;
}
.scroller,
.text-scroller {
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border: 0;

    /* -webkit-overflow-scrolling: touch; */

    /* uncomment to accelerate scrolling on iOs */
}

/* Preventing webkit bug of horizontal scrolling */
.scroller::-webkit-scrollbar {
    width: 0;
}
.text-scroller::-webkit-scrollbar {
    width: 0;
}

.textarea-scroll {
    position: relative;
    padding-right: 15px;
    overflow: hidden;
}
.textarea-scroll-hide {
    position: relative;
    overflow: hidden;
    height: inherit;
}
.textarea-scroll textarea {
    min-width: 100%;
}

.track,
.textarea-track {
    visibility: hidden;
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    right: 6px;
    width: 3px;
    background: rgba(0, 0, 0, 0.07);
    pointer-events: none;
}
.bar,
.textarea-bar {
    position: absolute;
    right: -3px;
    z-index: 1;
    width: 9px;
    border-radius: 5px;
    background: #593927;
    pointer-events: auto;
}
.baron .track,
.baron .textarea-track {
    visibility: visible;
}

/* baron */

/* browser old */
.browser-old {
    color: #000;
    font: 16px/1.25em Roboto, sans-serif;
    width: 2048px;
    height: 1536px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -768px 0 0 -1024px;
    background: url('../images/authBackground.png') no-repeat center center;
}
.browser-old-content {
    padding: 0 50px;
    position: relative;
    top: 600px;
    text-align: center;
}
.browser-old h1 {
    font: 24px/1.25em 'Roboto Slab', sans-serif;
    margin: 0 0 9px;
    letter-spacing: 0.08em;
}
.browsers {
    margin: 43px auto 0;
}
.browsers td {
    padding: 0 14px;
    vertical-align: top;
}
.browsers a {
    display: block;
    width: 113px;
    text-align: left;
    text-decoration: none;
    background: url(../images/browser-bg.gif) no-repeat 0 0;
    cursor: pointer;
    cursor: hand;
}
.browsers img {
    vertical-align: top;
    margin-left: 20px;
}
.browsers strong {
    display: block;
    width: 113px;
    height: 113px;
    position: absolute;
    overflow: hidden;
}
.browsers span {
    top: -476px;
    left: 0;
    position: absolute;
    width: 113px;
    height: 476px;
    background: url(../images/browser-old-arrow.png) no-repeat 0 0;
    -background: none;
    -filter: progid:dximagetransform.microsoft.alphaimageloader(src='/images/browser-old-arrow.png', sizingmethod='crop');
}
.browsers em {
    text-align: center;
    display: block;
    text-transform: uppercase;
    font: 11px/1em Roboto, sans-serif;
    color: #737459;
    margin: 22px 0 0;
}
.browsers a.frame0 span {
    top: -479px;
}
.browsers a.frame1 span {
    top: -3px;
}
.browsers a.frame2 span {
    top: -122px;
}
.browsers a.frame3 span {
    top: -241px;
}
.browsers a.frame4 span {
    top: -360px;
}

.browser-old-footer {
    width: 662px;
    margin: 40px auto 0;
}
.browser-old-hr {
    height: 1px;
    border-top: 1px solid #b2b2a3;
    font: 1px/1px a;
}
.browser-old-btn {
    text-align: center;
    display: block;
    margin: 0 15px;
    width: 260px;
    height: 53px;
    color: #fff436;
    font: 12px/53px Roboto, sans-serif;
    text-transform: uppercase;
    background: url(../images/browser-old-btn.gif) no-repeat 0 0;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}
.browser-old-btn:hover {
    background-position: 0 -53px;
    color: #fff436;
}

/* /browser old */

/* space */
.space {
    width: 2731px;
    height: 1536px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -768px 0 0 -1365px;
}
.space-planets {
    width: 2462px;
    height: 1536px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -768px 0 0 -1231px;
}
.planet {
    position: absolute;
}
.logo-place {
    position: absolute;
}
.logo-btn {
    background-color: #ff5600;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.logo-btn:hover {
    font: 31px/116px Roboto, sans-serif;
    border-radius: 58px;
    width: 375px;
    height: 116px;
    left: 86px;
    top: 227px;
}

.space-area {
    position: absolute;
    cursor: pointer;
}
.noactive .space-area {
    display: none;
}
.space-area .area {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
}

.class-number,
.class-number-hover {
    position: absolute;
    background-repeat: no-repeat;
    cursor: pointer;
}
.class-number {
    opacity: 1;
}
.class-number-hover {
    opacity: 0;
}

.space-area .area,
.class-number,
.class-number-hover {
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

.space-area:hover .area,
.space-area.active .area {
    opacity: 1;
}
.space-area:hover .class-number {
    opacity: 0;
}
.space-area:hover .class-number-hover {
    opacity: 1;
}
.space-area.notactive:hover .area {
    opacity: 0;
}
.space-area.notactive:hover .class-number {
    opacity: 1;
}
.space-area.notactive:hover .class-number-hover {
    opacity: 0;
}

/* zoom4 for height 1536 */

.zoom4 .planet {
    width: 1594px;
    height: 1029px;
    left: 487px;
    top: 217px;
    background: url(../images/planet.png) no-repeat 0 0;
}
.zoom4 .logo {
    width: 535px;
    height: 447px;
    background: url(../images/logo.png) no-repeat 0 0;
}
.zoom4 .logo-place {
    left: 1518px;
    top: 1016px;
}
.zoom4 .logo-btn {
    font: 24px/90px Roboto, sans-serif;
    border-radius: 45px;
    width: 289px;
    height: 90px;
    left: 129px;
    top: 240px;
}
.zoom4 .logo-btn:hover {
    font: 31px/116px Roboto, sans-serif;
    border-radius: 58px;
    width: 375px;
    height: 116px;
    left: 86px;
    top: 227px;
}

.zoom4 .space-area-1 {
    left: 691px;
    top: 970px;
}
.zoom4 .space-area-2 {
    left: 484px;
    top: 502px;
}
.zoom4 .space-area-3 {
    left: 765px;
    top: 395px;
}
.zoom4 .space-area-4 {
    left: 1574px;
    top: 214px;
}

.zoom4 .space-area .area {
    background-image: url(../images/space-areas.png);
}
.zoom4 .space-area-1 .area {
    width: 586px;
    height: 275px;
    background-position: 0 0;
}
.zoom4 .space-area-2 .area {
    width: 479px;
    height: 567px;
    background-position: -589px 0;
}
.zoom4 .space-area-3 .area {
    width: 665px;
    height: 596px;
    background-position: -1071px 0;
}
.zoom4 .space-area-4 .area {
    width: 383px;
    height: 777px;
    background-position: -1739px 0;
}

.zoom4 .class-number,
.zoom4 .class-number-hover {
    height: 347px;
    background-image: url(../images/class-number.png);
}

.zoom4 .class-number-1 {
    width: 262px;
    left: 482px;
    top: 141px;
    background-position: 0 0;
}
.zoom4 .class-number-2 {
    width: 192px;
    left: -148px;
    top: 98px;
    background-position: -526px 0;
}
.zoom4 .class-number-3 {
    width: 321px;
    left: 332px;
    top: -215px;
    background-position: -913px 0;
}
.zoom4 .class-number-4 {
    width: 229px;
    left: 296px;
    top: 389px;
    background-position: -1557px 0;
}
.zoom4 .class-number-hover-1 {
    width: 262px;
    left: 482px;
    top: 141px;
    background-position: -262px 0;
}
.zoom4 .class-number-hover-2 {
    width: 192px;
    left: -148px;
    top: 98px;
    background-position: -718px 0;
}
.zoom4 .class-number-hover-3 {
    width: 321px;
    left: 332px;
    top: -215px;
    background-position: -1234px 0;
}
.zoom4 .class-number-hover-4 {
    width: 229px;
    left: 296px;
    top: 389px;
    background-position: -1786px 0;
}

/* zoom3 for height 1280 */

.zoom3 .planet {
    width: 1330px;
    height: 859px;
    left: 610px;
    top: 308px;
    background: url(../images/planet-1280.png) no-repeat 0 0;
}
.zoom3 .logo {
    width: 447px;
    height: 374px;
    background: url(../images/logo-1280.png) no-repeat 0 0;
}
.zoom3 .logo-place {
    left: 1470px;
    top: 974px;
}
.zoom3 .logo-btn {
    font: 20px/74px Roboto, sans-serif;
    border-radius: 37px;
    width: 240px;
    height: 74px;
    left: 108px;
    top: 201px;
}
.zoom3 .logo-btn:hover {
    font: 26px/96px Roboto, sans-serif;
    border-radius: 48px;
    width: 312px;
    height: 96px;
    left: 72px;
    top: 190px;
}

.zoom3 .space-area-1 {
    left: 780px;
    top: 936px;
}
.zoom3 .space-area-2 {
    left: 608px;
    top: 546px;
}
.zoom3 .space-area-3 {
    left: 842px;
    top: 457px;
}
.zoom3 .space-area-4 {
    left: 1516px;
    top: 306px;
}

.zoom3 .space-area .area {
    background-image: url(../images/space-areas-1280.png);
}
.zoom3 .space-area-1 .area {
    width: 490px;
    height: 230px;
    background-position: 0 0;
}
.zoom3 .space-area-2 .area {
    width: 400px;
    height: 473px;
    background-position: -493px 0;
}
.zoom3 .space-area-3 .area {
    width: 555px;
    height: 497px;
    background-position: -896px 0;
}
.zoom3 .space-area-4 .area {
    width: 321px;
    height: 648px;
    background-position: -1454px 0;
}

.zoom3 .class-number,
.zoom3 .class-number-hover {
    height: 289px;
    background-image: url(../images/class-number-1280.png);
}

.zoom3 .class-number-1 {
    width: 219px;
    left: 403px;
    top: 118px;
    background-position: 0 0;
}
.zoom3 .class-number-2 {
    width: 161px;
    left: -122px;
    top: 82px;
    background-position: -442px 0;
}
.zoom3 .class-number-3 {
    width: 269px;
    left: 277px;
    top: -179px;
    background-position: -767px 0;
}
.zoom3 .class-number-4 {
    width: 191px;
    left: 248px;
    top: 323px;
    background-position: -1307px 0;
}
.zoom3 .class-number-hover-1 {
    width: 219px;
    left: 403px;
    top: 118px;
    background-position: -219px 0;
}
.zoom3 .class-number-hover-2 {
    width: 161px;
    left: -122px;
    top: 82px;
    background-position: -602px 0;
}
.zoom3 .class-number-hover-3 {
    width: 269px;
    left: 277px;
    top: -179px;
    background-position: -1035px 0;
}
.zoom3 .class-number-hover-4 {
    width: 191px;
    left: 248px;
    top: 323px;
    background-position: -1498px 0;
}

/* zoom2 for height 1024 */

.zoom2 .planet {
    width: 1064px;
    height: 687px;
    left: 734px;
    top: 400px;
    background: url(../images/planet-1024.png) no-repeat 0 0;
}
.zoom2 .logo {
    width: 358px;
    height: 299px;
    background: url(../images/logo-1024.png) no-repeat 0 0;
}
.zoom2 .logo-place {
    left: 1421px;
    top: 933px;
}
.zoom2 .logo-btn {
    font: 16px/60px Roboto, sans-serif;
    border-radius: 30px;
    width: 192px;
    height: 60px;
    left: 87px;
    top: 160px;
}
.zoom2 .logo-btn:hover {
    font: 21px/77px Roboto, sans-serif;
    border-radius: 39px;
    width: 250px;
    height: 77px;
    left: 58px;
    top: 152px;
}

.zoom2 .space-area-1 {
    left: 870px;
    top: 902px;
}
.zoom2 .space-area-2 {
    left: 732px;
    top: 590px;
}
.zoom2 .space-area-3 {
    left: 919px;
    top: 520px;
}
.zoom2 .space-area-4 {
    left: 1459px;
    top: 398px;
}

.zoom2 .space-area .area {
    background-image: url(../images/space-areas-1024.png);
}
.zoom2 .space-area-1 .area {
    width: 391px;
    height: 184px;
    background-position: 0 0;
}
.zoom2 .space-area-2 .area {
    width: 321px;
    height: 378px;
    background-position: -394px 0;
}
.zoom2 .space-area-3 .area {
    width: 444px;
    height: 398px;
    background-position: -718px 0;
}
.zoom2 .space-area-4 .area {
    width: 256px;
    height: 518px;
    background-position: -1165px 0;
}

.zoom2 .class-number,
.zoom2 .class-number-hover {
    height: 289px;
    background-image: url(../images/class-number-1024.png);
}

.zoom2 .class-number-1 {
    width: 175px;
    left: 321px;
    top: 94px;
    background-position: 0 0;
}
.zoom2 .class-number-2 {
    width: 129px;
    left: -99px;
    top: 66px;
    background-position: -354px 0;
}
.zoom2 .class-number-3 {
    width: 215px;
    left: 222px;
    top: -143px;
    background-position: -616px 0;
}
.zoom2 .class-number-4 {
    width: 153px;
    left: 197px;
    top: 260px;
    background-position: -1049px 0;
}
.zoom2 .class-number-hover-1 {
    width: 175px;
    left: 321px;
    top: 94px;
    background-position: -175px 0;
}
.zoom2 .class-number-hover-2 {
    width: 129px;
    left: -99px;
    top: 66px;
    background-position: -483px 0;
}
.zoom2 .class-number-hover-3 {
    width: 215px;
    left: 222px;
    top: -143px;
    background-position: -830px 0;
}
.zoom2 .class-number-hover-4 {
    width: 153px;
    left: 197px;
    top: 260px;
    background-position: -1202px 0;
}

/* zoom1 for height 768 */

.zoom1 .planet {
    width: 798px;
    height: 515px;
    left: 858px;
    top: 492px;
    background: url(../images/planet-768.png) no-repeat 0 0;
}
.zoom1 .logo {
    width: 268px;
    height: 224px;
    background: url(../images/logo-768.png) no-repeat 0 0;
}
.zoom1 .logo-place {
    left: 1374px;
    top: 892px;
}
.zoom1 .logo-btn {
    font: 12px/45px Roboto, sans-serif;
    border-radius: 28px;
    width: 144px;
    height: 45px;
    left: 65px;
    top: 120px;
}
.zoom1 .logo-btn:hover {
    font: 16px/58px Roboto, sans-serif;
    border-radius: 29px;
    width: 187px;
    height: 58px;
    left: 43px;
    top: 114px;
}

.zoom1 .space-area-1 {
    left: 961px;
    top: 869px;
}
.zoom1 .space-area-2 {
    left: 857px;
    top: 635px;
}
.zoom1 .space-area-3 {
    left: 997px;
    top: 581px;
}
.zoom1 .space-area-4 {
    left: 1402px;
    top: 491px;
}

.zoom1 .space-area .area {
    background-image: url(../images/space-areas-768.png);
}
.zoom1 .space-area-1 .area {
    width: 293px;
    height: 138px;
    background-position: 0 0;
}
.zoom1 .space-area-2 .area {
    width: 240px;
    height: 284px;
    background-position: -296px 0;
}
.zoom1 .space-area-3 .area {
    width: 333px;
    height: 299px;
    background-position: -539px 0;
}
.zoom1 .space-area-4 .area {
    width: 192px;
    height: 389px;
    background-position: -875px 0;
}

.zoom1 .class-number,
.zoom1 .class-number-hover {
    height: 174px;
    background-image: url(../images/class-number-768.png);
}

.zoom1 .class-number-1 {
    width: 132px;
    left: 241px;
    top: 70px;
    background-position: 0 0;
}
.zoom1 .class-number-2 {
    width: 96px;
    left: -74px;
    top: 49px;
    background-position: -267px 0;
}
.zoom1 .class-number-3 {
    width: 162px;
    left: 166px;
    top: -107px;
    background-position: -462px 0;
}
.zoom1 .class-number-4 {
    width: 115px;
    left: 149px;
    top: 194px;
    background-position: -789px 0;
}
.zoom1 .class-number-hover-1 {
    width: 132px;
    left: 241px;
    top: 70px;
    background-position: -132px 0;
}
.zoom1 .class-number-hover-2 {
    width: 96px;
    left: -74px;
    top: 49px;
    background-position: -363px 0;
}
.zoom1 .class-number-hover-3 {
    width: 162px;
    left: 166px;
    top: -107px;
    background-position: -624px 0;
}
.zoom1 .class-number-hover-4 {
    width: 115px;
    left: 149px;
    top: 194px;
    background-position: -904px 0;
}

/* zoom0 for height 600 */

.zoom0 .planet {
    width: 624px;
    height: 403px;
    left: 940px;
    top: 552px;
    background: url(../images/planet-600.png) no-repeat 0 0;
}
.zoom0 .logo {
    width: 210px;
    height: 176px;
    background: url(../images/logo-600.png) no-repeat 0 0;
}
.zoom0 .logo-place {
    left: 1343px;
    top: 864px;
}
.zoom0 .logo-btn {
    font: 9px/36px Roboto, sans-serif;
    border-radius: 18px;
    width: 112px;
    height: 36px;
    left: 50px;
    top: 94px;
}
.zoom0 .logo-btn:hover {
    font: 12px/46px Roboto, sans-serif;
    border-radius: 23px;
    width: 146px;
    height: 46px;
    left: 34px;
    top: 88px;
}

.zoom0 .space-area-1 {
    left: 1020px;
    top: 846px;
}
.zoom0 .space-area-2 {
    left: 939px;
    top: 664px;
}
.zoom0 .space-area-3 {
    left: 1048px;
    top: 622px;
}
.zoom0 .space-area-4 {
    left: 1365px;
    top: 551px;
}

.zoom0 .space-area .area {
    background-image: url(../images/space-areas-600.png);
}
.zoom0 .space-area-1 .area {
    width: 229px;
    height: 108px;
    background-position: 0 0;
}
.zoom0 .space-area-2 .area {
    width: 188px;
    height: 222px;
    background-position: -232px 0;
}
.zoom0 .space-area-3 .area {
    width: 261px;
    height: 233px;
    background-position: -423px 0;
}
.zoom0 .space-area-4 .area {
    width: 150px;
    height: 303px;
    background-position: -687px 0;
}

.zoom0 .class-number,
.zoom0 .class-number-hover {
    height: 136px;
    background-image: url(../images/class-number-600.png);
}

.zoom0 .class-number-1 {
    width: 103px;
    left: 189px;
    top: 56px;
    background-position: 0 0;
}
.zoom0 .class-number-2 {
    width: 74px;
    left: -57px;
    top: 38px;
    background-position: -209px 0;
}
.zoom0 .class-number-3 {
    width: 125px;
    left: 131px;
    top: -83px;
    background-position: -360px 0;
}
.zoom0 .class-number-4 {
    width: 88px;
    left: 116px;
    top: 153px;
    background-position: -613px 0;
}

.zoom0 .class-number-hover-1 {
    width: 103px;
    left: 189px;
    top: 56px;
    background-position: -103px 0;
}
.zoom0 .class-number-hover-2 {
    width: 74px;
    left: -57px;
    top: 38px;
    background-position: -283px 0;
}
.zoom0 .class-number-hover-3 {
    width: 125px;
    left: 131px;
    top: -83px;
    background-position: -485px 0;
}
.zoom0 .class-number-hover-4 {
    width: 88px;
    left: 116px;
    top: 153px;
    background-position: -701px 0;
}

/* /space */

/* space text pages */
.panel-space table {
    width: 100%;
    max-width: 2731px;
    border-collapse: separate;
} /* separate - for ie9: CSS box-shadow not working in IE9 inside tables with collapsing borders */
.space-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff5600 url(../images/space-text-bg.jpg) no-repeat 50% 0;
    color: #000;
    font: 16px/1.3125em 'Roboto Slab', sans-serif;
}
.space-text-column {
    width: 672px;
    margin: 198px auto 0;
    padding: 0 40px;
    background-color: #fefce8;
    border-radius: 7px;
    border: 4px solid #fefce8;
}
.space-text .text-scroll {
    margin-right: -17px;
    margin-bottom: 40px;
}
.space-text-padding {
    padding: 0 40px;
}
.space-text-title {
    position: relative;
    padding: 38px 0 56px;
    margin: 0 -40px 40px;
    background: #54cb8f url(../images/space-text-title.png) repeat-x 0 100%;
    border-radius: 4px 4px 0 0;
    font: 50px/1em 'Roboto Slab', sans-serif;
    color: #fefce8;
    text-align: center;
    text-transform: uppercase;
}
.space-text-title::before {
    content: ' ';
    width: 140px;
    height: 40px;
    position: absolute;
    top: -37px;
    left: 50%;
    margin-left: -70px;
    background: url(../images/space-text-decor.png) no-repeat 50% 0;
}
.space-text-title * {
    font: inherit;
    color: inherit;
    margin: 0;
}
.space-text p {
    margin: 0 0 19px;
}

.space-about .space-text-title {
    background-color: #7dacb8;
}
.space-program .space-text-title {
    background-color: #f97835;
}
.space-questions .space-text-title {
    background-color: #b865d3;
}
.space-student .space-text-title {
    background-color: #e14646;
}
.space-parent .space-text-title {
    background-color: #e29e47;
}
.space-teacher .space-text-title {
    background-color: #9dbe4e;
}

.space-about .space-text-title::before {
    background-image: url(../images/space-text-decor-about.png);
}
.space-program .space-text-title::before {
    background-image: url(../images/space-text-decor-program.png);
}
.space-questions .space-text-title::before {
    background-image: url(../images/space-text-decor-questions.png);
}
.space-student .space-text-title::before {
    background-image: url(../images/space-text-decor-student.png);
}
.space-parent .space-text-title::before {
    background-image: url(../images/space-text-decor-parent.png);
}
.space-teacher .space-text-title::before {
    background-image: url(../images/space-text-decor-teacher.png);
}

/* /space text pages */

/* panel space */
.panel-menu {
    font: 14px/1em 'Roboto Slab', sans-serif;
    white-space: nowrap;
    color: #fff436;
}
.panel-menu a {
    text-decoration: none;
    color: #fff436;
    display: inline-block;
    cursor: pointer;
    padding: 21px 16px 25px;
}
.text {
    border: 1px solid #ede9c6;
    background: #fff;
    border-radius: 19px;
    -webkit-box-shadow: 1px 1px 1px #a09f97 inset, 1px 1px 1px 2px #fff inset;
    box-shadow: 1px 1px 1px 0 #a09f97 inset, 1px 1px 1px 2px #fff inset;
    width: 170px;
    margin: 11px 3px 0;
    font: 16px/22px 'Roboto', sans-serif;
    color: #4d4d4d;
    padding: 6px 17px 9px;
    height: 22px;
}
.text.placeholder {
    color: #b1b1b1;
    font-family: 'Roboto italic', sans-serif;
}
.text::-webkit-input-placeholder {
    color: #b1b1b1;
    font-family: 'Roboto italic', sans-serif;
}
.text::-moz-placeholder {
    color: #b1b1b1;
    font-family: 'Roboto italic', sans-serif;
}
.textarea {
    border: 1px solid #ede9c6;
    background: #fff;
    border-radius: 19px;
    -webkit-box-shadow: 1px 1px 1px #a09f97 inset, 1px 1px 1px 2px #fff inset;
    box-shadow: 1px 1px 1px 0 #a09f97 inset, 1px 1px 1px 2px #fff inset;
    margin: 11px 3px 0;
    padding: 6px 10px 6px 17px;
}
.textarea textarea {
    height: 297px;
    resize: none;
    line-height: 1.3125em;
    background: url(../images/e.gif);
    border: none;
    font: 16px/22px 'Roboto', sans-serif;
    color: #4d4d4d;
}
.textarea textarea.placeholder {
    color: #b1b1b1;
    font-family: 'Roboto italic', sans-serif;
}
.textarea textarea::-webkit-input-placeholder {
    color: #b1b1b1;
    font-family: 'Roboto italic', sans-serif;
}
.textarea textarea::-moz-placeholder {
    color: #b1b1b1;
    font-family: 'Roboto italic', sans-serif;
}
.textarea .textarea-track {
    top: 10px;
    bottom: 10px;
}

textarea.text {
    height: 297px;
    resize: none;
    line-height: 1.3125em;
    padding: 6px 17px;
}
.panel .text {
    border-color: #ee4804;
}
.login-form {
    white-space: nowrap;
    display: none;
    min-width: 546px;
}
.login-form .panel-btn {
    margin: 11px 17px 0 6px;
    padding: 0 28px;
}
.login-form-error {
    display: none;
    float: right;
    margin: 12px 10px 0 10px;
    padding: 11px 25px 12px;
    height: 14px;
    border-radius: 19px;
    background-color: #f90020;
    color: #fff;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1em;
}
.login-form-error a {
    color: #fff436;
    margin: 0 0 0 39px;
    cursor: pointer;
    text-decoration: underline;
}
.login-form-error a:hover {
    text-decoration: none;
}

/* /panel space */

/* feedback form */
.feedback-form {
    padding: 0 0 5px;
}
.feedback-form .text {
    width: 561px;
    margin: 0;
}
.feedback-form p {
    margin: 0 0 26px;
}
.feedback-form .btn {
    margin-top: 20px;
    float: right;
    padding-left: 21px;
    padding-right: 21px;
}
.feedback-form-msg {
    font: 14px/1.3125em Roboto, sans-serif;
    color: #bdb88a;
    margin: 0 18px 32px;
}
.feedback-success {
    display: none;
    font: 30px/1.3125em Roboto, sans-serif;
    color: #54cb8f;
    margin: 0 18px 11px;
    text-align: center;
}
.antibot-place {
    float: left;
}

.feedback-form .error-msg {
    color: #b20101;
}
.feedback-form .error {
    color: #b20101;
}
.feedback-form .antibot-place .text.error {
    color: #fff436;
    font-family: 'Roboto italic', sans-serif;
    background: #c70000;
    border-color: #b20101;
    box-shadow: none;
    text-align: center;
}
.feedback-form .text.error {
    -webkit-box-shadow: 1px 1px 1px #a09f97 inset, 0 0 0 6px #fefce8, 0 0 0 8px #b20101;
    box-shadow: 1px 1px 1px #a09f97 inset, 0 0 0 6px #fefce8, 0 0 0 8px #b20101;
    color: #b20101;
}
.feedback-form .text.error::-webkit-input-placeholder {
    color: #b1b1b1;
}
.feedback-form .text.error::-moz-placeholder {
    color: #b1b1b1;
    border: green;
}
.feedback-form .textarea.error {
    -webkit-box-shadow: 1px 1px 1px #a09f97 inset, 0 0 0 6px #fefce8, 0 0 0 8px #b20101;
    box-shadow: 1px 1px 1px #a09f97 inset, 0 0 0 6px #fefce8, 0 0 0 8px #b20101;
}
.feedback-form .textarea.error textarea {
    color: #b20101;
}
.feedback-form .textarea.error textarea::-webkit-input-placeholder {
    color: #b1b1b1;
}
.feedback-form .textarea.error textarea::-moz-placeholder {
    color: #b1b1b1;
    border: green;
}

.feedback-textarea {
    margin: 0 0 26px;
}

/* /feedback form */

/* popup form */
.popup-form {
    background-color: #fefce8;
    border-radius: 108px;
    min-height: 117px;
    width: 796px;
    padding: 55px 55px 43px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -107px 0 0 -453px;
}
.popup-form-close {
    position: absolute;
    top: -6px;
    right: -50px;
    width: 68px;
    height: 67px;
    background: url(../images/close.png) no-repeat 0 0;
    cursor: pointer;
}
.popup-form .text {
    vertical-align: top;
    margin: 0;
}
.antibot {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ede9c6;
    background-color: #fefce8;
    box-shadow: 1px 1px 1px #a09f97 inset;
    border-radius: 19px;
    height: 33px;
    width: 127px;
    margin: 0 15px 0 0;
    padding: 2px 0 2px 22px;
    white-space: nowrap;
}
.antibot img {
    vertical-align: middle;
}
.antibot-img {
    height: 35px;
    width: 100px;
}
.antibot-label {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    color: #bdb88a;
    font: 12px/16px 'Roboto', sans-serif;
    padding: 1px 0 0;
    min-width: 90px;
}
.antibot-reload {
    cursor: pointer;
    width: 19px;
    height: 19px;
    background: url(../images/antibot-reload.gif) no-repeat 0 0;
}
.antibot-reload:hover {
    background-position: -19px 0;
}
.popup-form-submit {
    position: relative;
    margin: 41px 45px 0;
}
.popup-form-submit::before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e5debd;
    border-top: 1px solid #c5b68e;
}
.popup-form-submit .btn {
    margin: 0;
    position: relative;
    box-shadow: 0 -1px 0 0 #fffffc, 0 1px 0 0 #e8e3bd, 0 3px 0 0 #d4b979, 0 1px 0 5px #fff436,
        0 -1px 0 5px #d4b979, 0 0 0 13px #fefce8;
}

.popup-form-success,
.popup-form-error {
    position: absolute;
    top: 50%;
    left: 100px;
    right: 100px;
    margin-top: -19px;
    color: #fff;
    border-radius: 19px;
    padding: 11px 20px 8px;
    font-size: 14px;
    line-height: 1.25em;
}
.popup-form-success {
    background-color: #15ee52;
}
.popup-form-error {
    background-color: #f90020;
    text-align: left;
}
.popup-form-again {
    float: right;
    color: #fff436;
    text-decoration: underline;
    cursor: pointer;
}
.popup-form-again:hover {
    text-decoration: none;
}
.popup-form .antibot {
    margin-left: 10px;
}

/* /popup form */

.modal-cont {
    display: none;
}
.modal-cont-elements {
    background: #000 url('../images/window.jpg');
    width: 600px;
    height: 400px;
    margin: -200px 0 0 -300px;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 999;
    border: 1px solid #fff;
}
.modal-cont-text {
    font-size: 30px;
    color: #fff;
    margin: 180px 0 30px 200px;
}
.modal-cont-but {
    margin: 145px 0 0 195px;
    background-color: #ff5600;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    text-align: center;
    padding-top: 15px;
}
.modal-cont-but:hover {
    margin: 144px 0 0 195px;
}
.modal-cont-bg {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    z-index: 99;
}

#selection-modal .modal-confirm-elements {
    background: #000 url('../images/window.jpg');
    width: 400px;
    height: 150px;
    margin: -75px 0 0 -200px;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 999;
    border: 1px solid #fff;
}
#selection-modal .confirm-lk,
#selection-modal .confirm-site {
    background-color: #ff5600;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
#selection-modal .confirm-text {
    font-size: 20px;
    color: #fff;
    margin: 15px 0 15px 15px;
    line-height: 20px;
    text-align: center;
}
#selection-modal .confirm-lk {
    background-color: #ff5600;
    margin: 10px 30px;
}
#selection-modal .confirm-lk:hover {
    background-color: #ff5600;
}
#selection-modal .confirm-site {
    background-color: #ff5600;
    right: 86px;
}
#selection-modal .confirm-site:hover {
    background-color: #ff5600;
}
#selection-modal .modal-confirm-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 99;
}

.logo-btn.type2 {
    margin-top: 75px;
    background-color: #8bbe00;
}
.logo-btn.type2:hover {
    margin-top: 75px;
}

.logo-btn.type3 {
    background-color: #8bbe00;
}

.demo-video-cont {
    background: #000 url('../images/window.jpg');
    width: 600px;
    height: 400px;
    margin: -200px 0 0 -300px;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 999;
    border: 1px solid #fff;
}
.demo-video-close {
    width: 68px;
    height: 67px;
    position: absolute;
    margin-left: 600px;
    background: url(../images/close.png) no-repeat 0 0;
    cursor: pointer;
}
.demo-video-close:hover {
    background-position: -67px 0;
}
.marginBottom-10 {
    margin-bottom: 10px !important;
}
.marginTop-50 {
    margin-top: 50px;
}

.yandex-icon {
    margin-top: 20px;
    margin-bottom: 17px;
}

.content-inner {
    background-color: #fff;
    width: 900px;
    margin: auto;
    padding: 30px;
    position: relative;
}
